<?xml version="1.0"?>
<!--
/**
 * Copyright © MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 * https://www.magepal.com | support@magepal.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepal" translate="label" sortOrder="400">
            <label>MagePal</label>
        </tab>
        <section id="guesttocustomer" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Guest to Customer</label>
            <tab>magepal</tab>
            <resource>MagePal_GuestToCustomer::guesttocustomer</resource>
            <group id="about_magepal" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
                <label>About Guest to Customer</label>
                <attribute type="expanded">1</attribute>
                <comment><![CDATA[
                    <div class="magepal-info">
                        Copyright © 2025 <a href="https://www.magepal.com/magento2/extensions.html?utm_source=guest-to-customer&utm_medium=admin" target="_blank">MagePal, LLC</a>
                        <a href="https://www.magepal.com/help/docs/guest-to-customer/?utm_source=guest-to-customer&utm_medium=admin#documentation" target="_blank">Documentation</a>
                        <a href="https://www.magepal.com/help/docs/guest-to-customer/?utm_source=guest-to-customer&utm_medium=admin#support">Support</a>
                        <a href="https://www.magepal.com/help/docs/guest-to-customer?utm_source=guest-to-customer&utm_medium=admin#current_version" target="_blank">Latest Version</a>
                        <a href="https://www.magepal.com/guest-to-customer.html?utm_source=guest-to-customer&utm_medium=admin" target="_blank">Extension Detail</a>
                        <a href="https://www.magepal.com/magento2/extensions.html?utm_source=guest-to-customer&utm_medium=admin" target="_blank">More Extensions</a>
                    </div>
                    Need to change the email address of an existing order? Download our free
                    <a href="https://www.magepal.com/help/docs/edit-order-email-magento2/?utm_source=guest-to-customer&utm_medium=admin">
                    Edit Order Email Address</a> extension today!
                    <hr class="magepal-hr" />
                    ]]>
                </comment>
                <field id="MagePal_GuestToCustomer" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Version</label>
                    <frontend_model>MagePal\Core\Block\Adminhtml\System\Config\Composer\Version</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Guest to Customer Setting</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_dashboard" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on Frontend (customer dashboard)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merge_customer_already_exists" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatically add order to customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically add order to existing customer with same email address.</comment>
                </field>
            </group>
            <group id="merge" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Merge Customer Details</label>
                <comment>Copy customer attributes to order (if customer already exists)</comment>
                <field id="group" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="dob" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date Of Birth</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gender</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="taxvat" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax VAT</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
